---
layout: default
section_id: home
slides:
- title: brand / product design
  text: ... <span> essential</span>
  button:
    text: uncover
    url: http://themeforest.net/user/honryou/portfolio?ref=honryou
  bg_color: "#F7C162"
  image: images/@stock/half-1.jpg

- title: manufacturing logistics
  text: cost <span>less</span>
  button:
    text: uncover
    url: http://themeforest.net/user/honryou/portfolio?ref=honryou
  bg_color: "#c9c9c9"
  image: images/@stock/half-3.jpg

- title: consulting
  text: always <span> expect </span> unexpected
  button:
    text: uncover
    url: http://themeforest.net/user/honryou/portfolio?ref=honryou
  bg_color: "#f6c418"
  image: images/@stock/half-4.jpg



clients:
- image: images/@stock/client-1.png
- image: images/@stock/client-2.png
- image: images/@stock/client-3.png
- image: images/@stock/client-4.png
- image: images/@stock/client-5.png
- image: images/@stock/client-6.png
---

<div class="full no-padding" style="height: 100vh;">
  <div id="slides">
    <div class="slides-container">
      {% for slide in page.slides %}
        <div class="slide">
          <div class="slide-info">
            <p>{{ slide.title }}</p>
            <h1>{{ slide.text }}</h1>
            <div class="three spacing"></div>
            <a href="{{ slide.button.url }}" class="button boxed black">{{ slide.button.text }}</a>
          </div>
          <div class="slide-left" style="background-color: {{ slide.bg_color }};">
          </div>
          <div class="slide-right" style="background: url({{ slide.image }}) center center no-repeat;background-size: cover;">
          </div>
        </div>
      {% endfor %}
    </div>
    <nav class="slides-navigation">
      <a href="#" class="next"><i class="icon-arrows-slim-right"></i></a>
      <a href="#" class="prev"><i class="icon-arrows-slim-left"></i></a>
    </nav>
  </div>
</div>

<div class="spacing"></div>

<div class="full light-grey no-padding">
  <div class="two spacing"></div>
  <div class='row'>
    <div class='large-12 columns'>
      <div class='clients'>
        {% for client in page.clients %}
          <div><a href="#"><img alt="" src="{{site.url}}/{{client.image}}"></a></div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="two spacing"></div>
</div>

</div>
