---
layout: default
section_id: portfolio
works_left:
- title: Title-A
  link_to: portfolio-item.html
  image: images/title_a/TitleA_SS16_by_Logan_White_02.jpg
  categories: branding, designs, product

- title: Forever-21
  link_to: portfolio-item.html
  image: images/@stock/work-20.jpg
  categories: shoe design, fabrics

works_right:
- title: Doc Martens
  link_to: portfolio-item-2.html
  image: images/@stock/work-3.jpg
  categories: essential wear

- title: Net-a-porter
  link_to: portfolio-item.html
  image: images/@stock/work-5.jpg
  categories: products

---

<div class="full light-grey">
  <div class="four spacing"></div>
  <div class="section-title">
    <div class="row">
      <div class="medium-10 medium-centered columns">
        <h1 class="wow slideInUp">bespoke design & production services</h1>
      </div>
    </div>
    <div class="row">
      <div class="medium-9 medium-centered columns">
        <div class="header-quote">
          <p>"Fashion is an extension of the soul, a reflection of who we are at any given moment."</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="full">
  <div class="row">
    <div class="large-6 columns">
      <div class="gallery-left-section">
        {% for work in page.works_left %}
          <div class="work-wrapper">
            <a href="{{work.link_to}}" class="work">
              <img src="{{site.url}}/{{work.image}}" alt="">
              <div class="info">
                <h3>{{work.title}}</h3>
                <p>{{work.categories}}</p>
              </div>
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="large-6 columns">
      <div class="gallery-right-section">
        {% for work in page.works_right %}
          <div class="work-wrapper">
            <a href="{{work.link_to}}" class="work">
              <img src="{{site.url}}/{{work.image}}" alt="">
              <div class="info">
                <h3>{{work.title}}</h3>
                <p>{{work.categories}}</p>
              </div>
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="spacing"></div>
</div>